*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #244242;
    height: 80px;
    width: 100%;
    text-decoration:none ;
}
.enlace{
    float: left;
    margin-right: 3%;
    padding: 20px 50px;
}
.logo{
    margin-top: -20%;
    height: 65px;
}


nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
}
nav ul li a{
    color: #fff;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    text-decoration: none;
    border-right: solid 2px rgb(5, 114, 72);
}
li a.active, li a:hover{
    background: rgb(5, 114, 72);
    transition: .5s;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 80vh;
        background: #244242;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: rgb(5, 114, 72);
        transition: .5s;
    }
    #check:checked ~ ul{
        left:0;
    }
}