* {padding:0;margin:0;}

body {background-size: 100% auto,100%;background-repeat: no-repeat;background-position: center;background-attachment: fixed;}
html {scrollbar-width: thin;scrollbar-color: pink red;}

/* Whole customized */
html::-webkit-scrollbar {width: 1.2vw;}
html::-webkit-scrollbar-track {background-color: rgba(105,106,105,0.2);}
html::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
html::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
#div::-webkit-scrollbar {width: 8px;max-height: 75px}
#div::-webkit-scrollbar-track {background-color: rgba(105,106,105,0.2);}
#div::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
#div::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
textarea::-webkit-scrollbar {width: 8px;}
textarea::-webkit-scrollbar-track {background-color: rgba(105,106,105,0.2);}
textarea::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
textarea::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}

/* Whole customized */
header nav::-webkit-scrollbar {width: 1.2vw;overflow-y: scroll;}
header nav::-webkit-scrollbar-track {background-color: rgba(105,106,105,0.2);}
header nav::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
header nav::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
.menu_bar {display:none;}

header {width: 100%;position: fixed;top: 0;z-index: 1000;}
header nav {background:#023859;z-index:1000;max-width: 100%;width:100%;}
header nav ul {list-style:none;}
header nav ul li {display:inline-block;position: relative;}
header nav ul li:hover {background:#E6344A;transition: 5s;}
header nav ul li #b {transition: 1s;}
header nav ul li #b:hover {background: rgba(255, 0, 0, .5);transition: 0.7s;font-size: 16.5px;}
header nav ul li a {color:#fff;display:block;text-decoration:none;padding: 10px;}
header nav ul li a span .w {margin-right:10px;width: 100%;}
header nav ul li:hover .children {display:block;}
header nav ul li .children {display: none;background:#011826;position: absolute;width: 150%;z-index:1000;}
header nav ul li .children li {display:block;border-bottom: 1px solid rgba(255,255,255,.5);}
header nav ul li .children li a {display: block;}
header nav ul li .children li a span {float: right;position: relative;top:3px;margin-right:0;margin-left:10px;}
header nav ul li .caret {position: relative;top:3px;margin-left:10px;margin-right:0px;}


@media screen and (min-width: 1119px) {
#h2{margin-top: 35%;}
#th{font-size: 12px;}}

@media screen and (min-width: 801px) {#submit{margin-top: 9%;}#wwe{margin-left: 4%}}
@media screen and (max-width: 800px) {#submit{margin-top: 3%;width: 100%;}
body {padding-top:80px;}
#button{display: block;}
.menu_bar {display:block;width:100%;position: fixed;top:0;background:#E6344A;}
.menu_bar .bt-menu {display: block;margin-left: 5%;color: #fff;overflow: hidden;font-size: 25px;font-weight: bold;text-decoration: none;}
.menu_bar span {margin-top: -4%;float: right;font-size: 40px;}

header nav {width: 80%;height: calc(100% - 80px);position: fixed;right:100%;top: 9.1%;overflow-y: scroll;}
header nav ul li {padding: 1%;display: block;border-bottom:1px solid rgba(255,255,255,.5);}
header nav ul li a {display: block;}
header nav ul li:hover .children {display: none;}
header nav ul li .children {width: 100%;position: relative;}
header nav ul li .children li a {margin-left:20px;}
header nav ul li .caret {float: right;}}

input[type="radio"]{display: none;}
#label1{color: #0774D9;padding: 5px 15px 5px 51px;display: inline-block;position: inherit;font-size: 1em;border-radius: 3px;cursor: pointer;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
#label1:hover{background: rgba(0, 116, 217, .4);}
#label1:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;position: inherit;margin-left: -8%;left: 17px;top: 10px;}
input[type="radio"]:checked + #label1{padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;}
input[type="radio"]:checked + #label1:before{color: #fff;display: none;}

#label2{color: #0774D9;padding: 5px 15px 5px 51px;display: inline-block;position: inherit;font-size: 1em;border-radius: 3px;cursor: pointer;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
#label2:hover{background: rgba(0, 116, 217, .4);}
#label2:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;border: 3px solid white;border-radius: 50%;position: inherit;margin-left: -8%;left: 17px;top: 10px;}
                

input[type="checkbox"]{display: none;}
#l, #h, #lh, #lh1{color: #0774D9;padding: 5px 15px 5px 15px;display: inline-block;font-size: 1em;border-radius: 3px;cursor: pointer;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
#l:hover{background: rgba(0, 116, 217, .4);}
#l:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;border: 3px solid #0774D9;border-radius: 5px;margin-left: -8%;left: 17px;top: 10px;}
input[type="checkbox"]:checked + #l{padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;}
input[type="checkbox"]:checked + #l:before{content: "Selectedw",color: #fff;display: none;}
input[type="checkbox"]:checked + #l:after{color: #fff;content: "Selected";}
#h:after{content: " Mostrar Contraseña";}
#h:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;border: 3px solid #0774D9;border-radius: 5px;margin-left: -8%;left: 17px;top: 10px;}
input[type="checkbox"]:checked + #h{padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;}
input[type="checkbox"]:checked + #h:before{color: #fff;}
input[type="checkbox"]:checked + #h:after{color: #fff;margin: 0;content: " Ocultar Contraseña";}

#lh:after{content: "Select ";padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;font-size: 12px;}
#lh:before{content: "";}
input[type="checkbox"]:checked + #lh{}
input[type="checkbox"]:checked + #lh:before{color: #fff;}
input[type="checkbox"]:checked + #lh:after{content: "Deselect";font-size: 12px;background: #9999;}
#lh1:after{content: "Select ";padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;font-size: 12px;}
#lh1:before{content: "";}
input[type="checkbox"]:checked + #lh1{}
input[type="checkbox"]:checked + #lh1:before{color: #fff;}
input[type="checkbox"]:checked + #lh1:after{content: "Deselect";font-size: 12px;background: #9999;}

