* {padding:0;margin:0;}

/* Whole customized */
html::-webkit-scrollbar {width: 10px; overflow: auto; /*Firefox*/
 overflow: overlay;}
html:hover::-webkit-scrollbar {
  display: initial;  
}
html::-webkit-scrollbar-track {background-color: rgba(105,106,105,0.2);}
html::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
html::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
.div::-webkit-scrollbar {width: 8px;max-height: 75px}
.div::-webkit-scrollbar-track {background-color: transparent;}
.div::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
.div::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
.div{overflow-y: hidden;max-height: 120px; margin-bottom: -7%}
.div1::-webkit-scrollbar {width: 8px;max-height: 75px}
.div1::-webkit-scrollbar-track {background-color: transparent;}
.div1::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
.div1::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
.div1{overflow-y: hidden;max-height: 140px; margin-bottom: -7%}

.div2::-webkit-scrollbar {width: 8px;max-height: 75px}
.div2::-webkit-scrollbar-track {background-color: transparent;}
.div2::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
.div2::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
.div2{overflow-y: hidden;max-height: 140px; margin-bottom: -7%}

.div3::-webkit-scrollbar {width: 8px;max-height: 75px}
.div3::-webkit-scrollbar-track {background-color: transparent;}
.div3::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
.div3::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
.div3{overflow-y: hidden;max-height: 140px; margin-bottom: -7%}
textarea::-webkit-scrollbar {width: 8px;}
textarea::-webkit-scrollbar-track {background-color: rgba(105,106,105,0.2);}
textarea::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
textarea::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}

/* Whole customized */
header nav::-webkit-scrollbar {width: 1.2vw;overflow-y: scroll;}
header nav::-webkit-scrollbar-track {background-color: transparent;}
header nav::-webkit-scrollbar-thumb {background-color: darkgray;border-radius: 100vw;}
header nav::-webkit-scrollbar-thumb:hover {background: rgb(105,105,108);
background: linear-gradient(90deg, rgba(105,105,108,1) 0%, rgba(115,115,126,1) 35%, rgba(0,212,255,1) 100%);}
.menu_bar {display:none;}



header {width: 100%;position: fixed;top: 0;z-index:1000;   }
header nav {background:#023859;z-index:1000;max-width: 100%;width:100%; }
header nav ul {list-style:none;}
header nav ul a:hover {text-decoration: none;color: #fff;}
header nav .submenu4{color: #FFF;}

header nav ul li {display:inline-block;position: relative;}
header nav ul li:hover {background:#E6344A;}
header nav ul li .submenu2:hover {background: rgba(0, 0, 0, .5);}
header nav ul li a {color:#fff;display:block;text-decoration:none;padding: 10px;}
header nav ul li a .w {margin-right:10px;width: 100%;}
header nav ul li:hover .children {display:block;}
header nav ul li .children .submenu1  {display:inline-block;position: relative;width: 100%}
header nav ul li .children .submenu1 .submenu2 {display:none;position:absolute;min-width:140px;width: 100%}
header nav ul li .children .submenu1 .submenu2  {right:-180px;top:0px;}
header nav ul li .children .submenu1:hover .submenu2 {display:block;color: #fff}
header nav ul li .children .submenu1 {font-size: 17.5px}
header nav ul li .children .submenu5 {font-size: 15px}
header nav ul li .children .submenu6 {font-size: 19px}

header nav ul li {font-size: 20px}
header nav ul li .children .submenu1 .submenu2 {background: rgba(0, 0, 0, 6);}
header nav ul li .children {display: none;background:#011826;position: absolute;width: 150%;z-index:1000;}
header nav ul li .children li {display:block;border-bottom: 1px solid rgba(255,255,255,.5);}
header nav ul li .children li a {display: block;}
header nav ul li .children li a span {float: right;position: relative;top:3px;margin-right:0;margin-left:10px;}


@media screen and (min-width: 801px) {#submit{margin-top: 9%;}#wwe{margin-left: 4%}}
@media screen and (max-width: 800px) {#submit{margin-top: 3%;width: 100%;}
body {padding-top:80px;}
#button{display: block;}
.menu_bar {display:block;width:100%;position: fixed;top:0;background:rgb(15 112 170)}
.menu_bar .bt-menu {display: block;margin-left: 5%;color: #fff;overflow: hidden;font-size: 25px;font-weight: bold;text-decoration: none;}
.menu_bar p {font-size: 30px}

header nav {width: 80%;height: calc(100% - 80px);position: fixed;right:100%;top: 10%;overflow-y: scroll;}
header nav ul li {padding: 1%;display: block;border-bottom:1px solid rgba(255,255,255,.5);}
header nav ul li a {display: block;}
header nav ul li:hover .children {display: none;}
header nav ul li .children {width: 100%;position: relative;}
header nav ul li .children li a {margin-left:20px;}
header nav ul li .children .submenu1 .submenu2  a {padding: 15px 60px;}
header nav ul li .children .submenu1  {display:inline-block;position: relative;width: 100%}
header nav ul li .children .submenu1 .submenu2 {display:none;position:static;min-width:140px;width: 100%}
header nav ul li .children .submenu1:hover .submenu2 {display:none;}
header nav .menu_bar1 .menu_bar2{float: right;}
header nav ul li .caret {float: right;}}

input[type="radio"]{display: none;}
#label1{color: #0774D9;padding: 5px 15px 5px 51px;display: inline-block;position: inherit;font-size: 1em;border-radius: 3px;cursor: pointer;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
#label1:hover{background: rgba(0, 116, 217, .4);}
#label1:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;position: inherit;margin-left: -8%;left: 17px;top: 10px;}
input[type="radio"]:checked + #label1{padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;}
input[type="radio"]:checked + #label1:before{color: #fff;display: none;}

#label2{color: #0774D9;padding: 5px 15px 5px 51px;display: inline-block;position: inherit;font-size: 1em;border-radius: 3px;cursor: pointer;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
#label2:hover{background: rgba(0, 116, 217, .4);}
#label2:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;border: 3px solid white;border-radius: 50%;position: inherit;margin-left: -8%;left: 17px;top: 10px;}
                

input[type="checkbox"]{display: none;}
#l, #h, #lh, #lh1{color: #0774D9;padding: 5px 15px 5px 15px;display: inline-block;font-size: 1em;border-radius: 3px;cursor: pointer;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
#l:hover{background: rgba(0, 116, 217, .4);}
#l:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;border: 3px solid #0774D9;border-radius: 5px;margin-left: -8%;left: 17px;top: 10px;}
input[type="checkbox"]:checked + #l{padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;}
input[type="checkbox"]:checked + #l:before{content: "Selectedw",color: #fff;display: none;}
input[type="checkbox"]:checked + #l:after{color: #fff;content: "Selected";}
#h:after{content: " Mostrar Contraseña";}
#h:before{content: "";width: 17px;height: 17px;display: inline-block;background: none;border: 3px solid #0774D9;border-radius: 5px;margin-left: -8%;left: 17px;top: 10px;}
input[type="checkbox"]:checked + #h{padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;}
input[type="checkbox"]:checked + #h:before{color: #fff;}
input[type="checkbox"]:checked + #h:after{color: #fff;margin: 0;content: " Ocultar Contraseña";}

#lh:after{content: "Select ";padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;font-size: 12px;}
#lh:before{content: "";}
input[type="checkbox"]:checked + #lh{}
input[type="checkbox"]:checked + #lh:before{color: #fff;}
input[type="checkbox"]:checked + #lh:after{content: "Deselect";font-size: 12px;background: #9999;}
#lh1:after{content: "Select ";padding: 5px 15px;background: #0774D9;border-radius: 2px;color: #fff;font-size: 12px;}
#lh1:before{content: "";}
input[type="checkbox"]:checked + #lh1{}
input[type="checkbox"]:checked + #lh1:before{color: #fff;}
input[type="checkbox"]:checked + #lh1:after{content: "Deselect";font-size: 12px;background: #9999;}
div , .card{position: initial;}
p, label{font-size: 14px}
.p:hover{color: blueviolet;text-decoration: underline;}
.p1:hover{color: blueviolet;text-decoration: underline;}            
.p2:hover{color: blueviolet;text-decoration: underline;}
.p3:hover{color: blueviolet;text-decoration: underline;}
.p4:hover{color: blueviolet;text-decoration: underline;}            
.p5:hover{color: blueviolet;text-decoration: underline;}
.p6:hover{color: blueviolet;text-decoration: underline;}
.p7:hover{color: blueviolet;text-decoration: underline;}



