body{
    background-image: linear-gradient(90deg, rgb(17, 59, 114), rgb(42, 136, 136));
    margin: 0%;
    margin-top: 0%;
}

#body{
    background: white;
    margin-left: 180px; 
    margin-right: 180px; 
    padding-top: 3%; 
    padding-bottom: 100%; 
}

#body > form, table, p{
    margin-left: 30px;
    margin-right: 30px;
}

h1, h3{
    margin-left: 20px;
    margin-top: 0%;
}

input{
    margin-right: 50px;
}

h1, h2, p, label, pre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table{
    border-collapse: collapse;
    border: 2px solid;
}


td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid;
}