body {
  background-repeat: no-repeat;
  background: linear-gradient(
    90deg,
    rgb(139, 216, 16) 0%,
    rgb(155, 180, 190) 35%,
    rgb(1, 16, 19) 100%
  );
}

.img1 {
  float: left;
  height: auto;
  width: auto;
}

.img2 {
  position: absolute;
  width: 474px;
  height: 131px;
  left: 30px;
  top: 50px;
}

.container {
  position: absolute;
  width: 540px;
  height: 680px;
  left: 598px;
  top: 8%;

  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container1 {
  position: absolute;
  width: 540px;
  height: 600px;
  left: 598px;
  top: 15%;

  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.firstname {
  position: absolute;
  left: 100px;
  top: 108px;
  bottom: 67.21%;
  font-family: Mulish;
  color: rgb(65, 64, 64);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.firstname-input {
  position: absolute;
  bottom: 67.21%;
  width: 275px;
  height: 36px;
  left: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  top: 178px;
  font-family: Mulish;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  align-items: center;
  letter-spacing: 0.2px;
  display: flex;
}

.lastname {
  position: absolute;
  left: 100px;
  top: 240px;
  bottom: 67.21%;
  font-family: Mulish;
  color: rgb(65, 64, 64);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.lastname-input {
  position: absolute;
  width: 275px;
  height: 36px;
  left: 100px;
  top: 255px;
  outline: #e0e0e0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.email {
  position: absolute;
  left: 100px;
  top: 315px;
  bottom: 67.21%;
  font-family: Mulish;
  color: rgb(65, 64, 64);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.email-input {
  position: absolute;
  width: 275px;
  height: 36px;
  left: 100px;
  top: 330px;
  outline: #e0e0e0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.password {
  position: absolute;
  left: 100px;
  top: 395px;
  bottom: 67.21%;
  font-family: Mulish;
  color: rgb(65, 64, 64);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.password-input {
  position: absolute;
  width: 275px;
  height: 36px;
  left: 100px;
  top: 410px;
  outline: #e0e0e0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.cpassword {
  position: absolute;
  left: 100px;
  top: 480px;
  bottom: 67.21%;
  font-family: Mulish;
  color: rgb(65, 64, 64);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.cpassword-input {
  position: absolute;
  width: 275px;
  height: 36px;
  left: 100px;
  top: 495px;
  outline: #e0e0e0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login {
  position: absolute;
  width: 350px;
  font-family: Mulish;
  height: 46px;
  left: 100px;
  right: 0%;
  top: 560px;
  border-style: solid;
  background: #ff2c5e;
  border: #ff2c5e;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;

  font-size: 22px;
  line-height: 20px;
  border: none;
  background: #ff2c5e;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.login1 {
  position: absolute;
  width: 350px;
  font-family: Mulish;
  height: 46px;
  left: 100px;
  right: 0%;
  top: 400px;
  border-style: solid;
  background: #ff2c5e;
  border: #ff2c5e;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;

  font-size: 22px;
  line-height: 20px;
  border: none;
  background: #ff2c5e;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.account {
  position: absolute;

  width: auto;
  font-family: Mulish;
  height: auto;
  left: 190px;
  right: 0%;
  top: 620px;
  border-style: solid;
  background: #fff;
  border: #ff2c5e;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;
}

.account1 {
  position: absolute;

  width: auto;
  font-family: Mulish;
  height: auto;
  left: 190px;
  right: 0%;
  top: 475px;
  border-style: solid;
  background: #fff;
  border: #ff2c5e;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;
}

a {
  position: absolute;
  width: auto;
  font-family: Mulish;
  height: 46px;
  left: 125px;
  right: 0%;
  top: auto;
  border-style: solid;
  color: #ff6633;
  border: #fff;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;
}

.href {
  position: absolute;
  text-decoration-style: none;
  width: auto;
  font-family: Mulish;
  height: auto;
  left: 250px;
  right: 0%;
  top: 540px;
  border-style: solid;
  color: #ff6633;
  border: #fff;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;
}

.email1 {
  position: absolute;
  left: 100px;
  top: 210px;
  bottom: 67.21%;
  font-family: Mulish;
  color: rgb(65, 64, 64);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.email1-input {
  position: absolute;
  width: 275px;
  justify-content: center;
  height: 36px;
  left: 100px;
  top: 230px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.password1 {
  position: absolute;
  left: 130px;
  right: 79.39%;
  top: 305px;
  bottom: 67.21%;
  justify-content: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #4f4f4f;
}

.password1-in {
  position: absolute;
  width: 275px;
  height: 36px;
  left: 100px;
  top: 325px;
  outline: #e0e0e0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.paragrafh {
  position: absolute;
  width: auto;
  font-family: Mulish;
  height: auto;
  left: 210px;
  right: 0%;
  top: 518px;
  border-style: solid;
  background: #fff;
  border: #ff2c5e;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;
}
