body{
    background-image: linear-gradient(90deg, rgb(17, 59, 114), rgb(42, 136, 136));
    margin: 0%;
    margin-top: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 0%;
    height: 600px;
    background-color: white;
}

section{
    margin-left: 10%;
    margin-right: 10%;
}
#grup1{
    float: left;
    width: 48%;
}
#grup2{
    float: left;
    margin-left: 150px;
}

#grup1 > input{
    margin-top: 7px;
    margin-bottom: 20px;
}
#grup2 > input{
    margin-top: 7px;
    margin-bottom: 20px;
}

input{
    width: 220px;
    height: 20px;
}

input[type="submit"]{
    width: 250px;
    height: 30px;
    margin-top: 40px;
    margin-left: 30%;
}   

h1, h3{
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

table{
    border-collapse: collapse;
    border: 2px solid;
}


td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid;
}