*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: 0%;
    margin-bottom: 0px  ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
	background:rgb(9, 94, 61);
}
button:active {
	transform: translateY(5px);
}


form {
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 14px;
    background: rgba(44, 33,33, .7);
    color: white;
}

section{
    margin-left: 10%;
    margin-right: 10%;
}
li{
    color: black;
}
div{
color: black;
}


